set arrow_cursor set include = yes
#set text/html; w3m -I %{charset} -T text/html; copiousoutput;
#set text/html; lynx -dump '%s' | more; nametemplate=%s.html; copiousoutput;
alias angela Angela Bronson <marieangelabronson@gmail.com>
alias margie Margaret Bronson <mbronson25@yahoo.com>
alias richard Richard Bronson <richardjb25@gmail.com>
attachments +A */.*
attachments +I text/plainP
attachments -A
application/x-pkcs7-.*
attachments -A text/x-vcard
application/pgp.*
auto_view text/html text/calendar
application/ics text/plain text/enriched text/*
bind browser y exit
bind index D purge-message
bind index,pager \Cn sidebar-next
bind index,pager \Cp sidebar-prev
bind index,pager \Co sidebar-open
hdr_order date from to cc subject
ignore bash.rc init.el neomutt.rc neomutt.rc~

macro generic,pager <F1> "<shell-escape> zcat /usr/share/doc/neomutt/manual.txt.gz | sensible-pager<enter>" "show NeoMutt documentation"
macro index y "<change-folder>?" "show incoming mailboxes list"
macro pager y "<exit><change-folder>?" "show incoming mailboxes list"
mailto_allow = cc in-reply-to referencesq
mime_lookup application/octet-stream

set assumed_charset = "utf-8" set beep = no
set certificate_file = "~/.neomutt/certificates"
set editor = "/usr/bin/emacs"
set fast_reply = yes
set imap_authenticators = ""
set index_format="%4C %Z %{%b %d %Y} %-15.15L (%?l?%4l&%4c?) %s"
set mail_check_stats
set mail_check_stats = yes
set mail_check_stats_interval = 30
set message_cachedir = "~/.neomutt/cache/bodies"
set mixmaster = "mixmaster-filter"
set reverse_name = yes
set send_charset = "utf-8"
set sidebar_delim_chars = "/"
set sidebar_folder_indent = no
set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set sidebar_indent_string = " "
set sidebar_short_path = yes
set sidebar_visible = yes
set sleep_time = 0
set smtp_authenticators = "gssapi:login"
set sort = date #threads
set sort_browser = reverse-date
set ssl_ca_certificates_file ="/etc/ssl/certs/ca-certificates.crt"
set ssl_force_tls = yes
set ssl_starttls = yes
set status_format='-%r-NeoMutt: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F?'
set time_inc = 250
set timeout = 20
set use_from = yes
source /usr/libexec/neomutt/source-neomuttrc.d|
unignore from: subject to cc date x-mailer x-url user-agent
unset bounce_delivered
set debug_level = 1
set debug_file = neomuttlog
set imap_user="mail.richardjb25@gmail.com"
set imap_pass=`/usr/bin/security find-generic-password -w -a 'mail.richardjb25@gmail.com' -s 'Gmail'`

set folder=imaps://imap.gmail.com/ set spoolfile=+INBOX
set record="+[Gmail]/Sent Mail"
set postponed="+[Gmail]/Drafts"

set sleep_time=0
set beep=no
set editor=emacs
auto_view text/html
set sort=reverse-date
set sort_aux=last-date-received
set index_format="%4C %Z %{%b %d %R} %-15.15L (%?l?%4l&%4c?) %s"
set sidebar_visible
set sidebar_format="%B%?F? [%F]?%* %?N?%N/?%S"
set mail_check_stats
mailboxes =INBOX =[Gmail]/Sent\ Mail =[Gmail]/Drafts =[Gmail]/Spam =[Gmail]/Trash

bind index,pager \CP sidebar-prev
bind index,pager \CN sidebar-next
bind index,pager \CI sidebar-open
bind index,pager \CB sidebar-toggle-visible
set realname="Richard Bronson"
set from="mail.richardjb25@gmail.com"
set smtp_url="smtps://mail.richardjb25@gmail.com@smtp.gmail.com:465/"
set smtp_pass=`/usr/bin/security find-generic-password -w -a 'mail.richardjb25@gmail.com' -s 'Gmail'`
set smtp_authenticators="gssapi:login"
